@charset "UTF-8";


@media screen and (min-width: 1024px) and (max-width: 1700px) {
	.navbar,
    .navbar .menu {
   		 margin: 0 20px;
 	     width: max-content;
    }
}

@media screen and (max-width: 1023px) {
    .navbar .menu {
        position: relative;
        top: 0;
        transition: all 0.3s;
        margin: 0;
        background: #fff;
    }
}

.text_left{	text-align:left; text-indent:10px;}
.text_center{text-align:center;}

a:link{text-decoration:none;}
a:link, a:visited, a:active{color:black;}

// font
.kotrafont{
	font-family: 'kotra', 'Closeness';
}

.esamanrufont{
	font-family: 'esamanru_Medium', 'Montserrat';
}

.pretendardfont{
	font-family: 'Pretendard', 'Montserrat';
}

.cafessurround{
	font-family: 'cafessurround', 'Closeness';
}

.paperlogy{
	font-family: 'cafessurround', 'Montserrat';
}

.size15{font-size:15px;}
.size25{font-size:25px;}
.size35{font-size:35px;}
.size45{font-size:45px;}
.size55{font-size:55px;}
.size65{font-size:65px;}

//font-weight

.fontbold{font-weight:bold}
.fontnormal{font-weight:300}
.fontlight{font-weight:100}

