@charset "UTF-8";


@media screen and (min-width: 1024px) and (max-width: 1700px) {
	.navbar,
    .navbar .menu {
   		 margin: 0 20px;
 	     width: max-content;
    }
}

@media screen and (max-width: 1023px) {
    .navbar .menu {
        position: relative;
        top: 0;
        transition: all 0.3s;
        margin: 0;
        background: #fff;
    }
}

.text_left{	text-align:left; text-indent:10px;}
.text_center{text-align:center;}

a:link{text-decoration:none;}
a:link, a:visited, a:active{color:black;}


/* 폰트 */
/* 이사만루 폰트 */
@font-face {
    font-family: 'Esamanru-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    /* font-style: normal; */
}

/* 프리텐다드 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}