@charset "UTF-8";

footer {
	width: 100%;
	height: 160px;
	font-size: 12px;
/* 	font-family: 'Pretendard regular', '맑은 고딕'; */
}
.footer {
	margin: 30px 0;
}
/* 사업자 정보 화살표 */
#entre {
	font-size: 10px;
	margin-left: 3px;
}

#footer {				/* footer 위치 맞추기 */
    min-width: 960px;
    max-width: 960px;
    margin: 0 auto;
    align-content: center;
}

.footer_toggle {
	cursor: pointer;
	display: inline-block;
}
.footer_toggle label { cursor: pointer; }
.footer_toggle, .footer_discription, .footer_toggle i { color: #555; }

.footer_discription { padding: 15px 0; }
.footer_discription .br { margin: 5px 0; }
.footer_discription span { font-size: 10px; }

/* 버튼 한 줄로 만들기 */
.footer_btn { display: flex; }
.vertical_bar_b::before {
	content: '|';
	padding: 0 8px;
}
.vertical_bar_a::after {
	content: '|';
	padding: 0 8px;
}

/* activity 추가. 클릭시 내용이 보이고 다시 한 번더 누르면 원래상태로 돌아감 */
.footer_detail {
	display: none;
	color: #666;
}
.footer_detail.active {
	display: block;
	margin-top: 20px;
}

/* footer 전체 높이 조정 */
footer.hei { height: 240px; }

/* 화살표 방향 바꾸기 */
