@charset "UTF-8";

#footer {				/* footer 위치 맞추기 */
    max-width: 960px;
	width: 100%;
	height: 190px;
	
    margin: 0 auto;
    align-content: center;
}
.footer {
	margin: 30px 0;
}
/* 사업자 정보 화살표 */
#entre {
	margin-left: 3px;
}

.footer_toggle {
	cursor: pointer;
	display: inline-block;
}
.footer_toggle label { cursor: pointer; }
.footer_toggle, .footer_discription, .footer_toggle i { color: #555; }

.footer_discription { padding: 15px 0; }
.footer_discription .br { margin: 5px 0; }

/* 버튼 한 줄로 만들기 */
.footer_btn {
	display: flex;
	position: relative;
}
.tour_link {
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
}
.tour_link a { color: #555; }
.tour_link a:hover {
	/* border-bottom: 1px solid #111; */
	color:#111;
}
.vertical_bar_b::before {
	content: '|';
	padding: 0 8px;
}
.vertical_bar_a::after {
	content: '|';
	padding: 0 8px;
}

/* activity 추가. 클릭시 내용이 보이고 다시 한 번더 누르면 원래상태로 돌아감 */
.footer_detail {
	display: none;
	color: #666;
    margin-top: 10px;
}
.footer_detail.active {
	display: block;
	margin-top: 20px;
}

/* footer 전체 높이 조정 */
footer.hei { height: 240px; }

/* 화살표 방향 바꾸기 */
