@charset "UTF-8";

* {
    box-sizing: border-box;
}

.carousel_wrapper {
	width:calc(100% - 12px);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* transition: transform 1s; */
}

.slide_box {
    position: relative;
   /*  border: rgb(255, 14, 135) 3px dotted; */
    width: 966px;
    height: max-content;
    margin: 0 auto;
    overflow: hidden;
}

.slide_item {
  display:flex;
  background-color: rgb(255, 215, 187);
  width: calc(100% - 5px);
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: larger;
  border: rgb(165, 165, 165) 0.5px solid;
  align-items: center;
}

.slide_item>div:first-child{
    width: 60%;
}

.slide_item>div:nth-child(2){
/* 	width:60%; */
    margin: 0 auto;
}

.slide_list {
    width: 500%;
    display: flex;
    height: 100%;
    background-color: rgb(255, 215, 187);
}

.right_img img {
    height: 100%;
    width: auto;
}


/* 화살표 */
.recommondPrevBtn,
.recommondNextBtn,
.nextBtn,
.prevBtn {
    position: absolute;
    top: 120px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.recommondPrevBtn, .prevBtn{left:10px}
.recommondNextBtn, .nextBtn{right:10px}


/* 화살표 */
.button {
    position: relative;
}

button::before {
    content: '';
    width: 20px; /* 사이즈 */
    height: 20px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    position: absolute;
    top:0px;
    left:0px ;
}

.recommondPrevBtn:before,
.prevBtn:before{
	transform-origin: center left;
	transform: rotate(225deg) translate(-100%, 0%);
	left:20px;
}

.recommondNextBtn:before,
.nextBtn:before{
	transform-origin: center left;
	transform: rotate(45deg) translate(-10%, 0%);
	left:5px;
}

.recommondPrevBtn:before,
.recommondNextBtn:before{
	top:95px;
}


/* 추천 여행지 관련 */
.recomment_tour_list_wrap {
    position: relative;
    width: 960px;
    margin: 20px auto;
    overflow:hidden;
}

.recomment_tour_list_wrap div.right_img{
	width:30%;
	height:auto;
}

.recomment_tour_list_wrap div.right_img img{
	width:100%;
	height:auto;
} 

div#recomment_tour_list {
    display: flex;
    width: 300%;
    padding: 20px 0px;
}

.recommend_slide_item {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.recomment_tour_list_wrap h3{
	width:max-content;
}

.recommend_carousel_wrapper,
.carousel_wrapper {
    width: calc(100% - 12px);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* transition: transform 1s; */
}

.recommend_slide_item>div{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
