<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.travel_planner.dao.ReviewDAO">

<!-- main - 조회순으로 리뷰게시글 4개만 -->
<select id="mainReviewList" parameterType="java.util.Map" resultType="com.spring.travel_planner.dto.ReviewDTO">
	<![CDATA[
	SELECT *
	  FROM (SELECT R.*
						  , rownum AS rn
					FROM (SELECT * FROM travle_review_tbl
							  WHERE r_show = 'Y'
							  ORDER BY r_readCnt DESC) R
				)
	 WHERE rn >= #{start}
	  	 AND rn <= #{end}
	]]>
</select>

<!-- 후기 목록 -->
<select id="reviewList" parameterType="java.util.Map" resultType="com.spring.travel_planner.dto.ReviewDTO">
	<![CDATA[
		SELECT *
		  FROM
        (SELECT A.*,
                rownum AS rn
         FROM
                (SELECT * FROM travle_review_tbl
                  WHERE r_show = 'Y'
                  ORDER BY r_num DESC) A
	        )
	 	WHERE rn >= #{start}
	  	 AND rn <= #{end}
	]]>
</select>

<!-- 후기 총 건수 -->
<select id="reviewCnt" resultType="int">
	SELECT COUNT(*) FROM travle_review_tbl
</select>

<!-- 후기 상세페이지 -->
<select id="reviewDetail" parameterType="int" resultType="com.spring.travel_planner.dto.ReviewDTO">
	SELECT *
	  FROM travle_review_tbl
	 WHERE r_num = #{r_num}
</select>

<!-- 후기 조회수 -->
<select id="reviewViews" parameterType="com.spring.travel_planner.dto.ReviewDTO">
	UPDATE travle_review_tbl
	   SET r_readCnt = r_readCnt +1
	 WHERE r_num = #{r_num}
</select>

</mapper>