@charset "UTF-8";

.course-title {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    margin: 10px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

th {
    background-color: #f8f8f8;
    font-weight: 500;
    padding: 10px;
    vertical-align: middle;
    word-break: break-all;
}

table td {
    font-size: 16px;
}

td {
	padding: 10px;
    vertical-align: middle;
    word-break: break-all;
}


.course-table {

}

th course-title  tbody {
	padding-left: 30px;
	text-align: left;
}
/* 상위 중앙 1 시작 */
.re_detail-container {
	border-radius: 10px;
	border: 1px;
	margin: 50px;
}

h1, h3, .rc-detail-tag {
	display: flex;
	justify-content: space-around;
	margin: 28px;
}

h3 {
	color: #FF865B;;
}

hr {
	width: 100%;
}

.rc-detail-tag {
	color: #676767;
}
/* 상위 중앙 1 끝 */

/* 상위 중앙 2 시작 */
.rc_detail-center {
	display: flex;
	justify-content: space-evenly;
	
}

.course-detail-map {
	border-radius: 20px;	
	width: 100%;
	height: 600px;
	position: relative;
}
/* 상위 중앙 2 끝 */

.rc-detail-course-list {
	width: 100%;
	height: 800px;
	position: relative;
	top: 60px;
}

strong {
	font-size: 18px;
}

