@charset "UTF-8";

#review {
	position:relative;
	width: 1000px;
    margin: 0 auto;
}

/* 리뷰상세페이지 이동 */
.review_detail {
    width: 1000px;
   /*  display: flex; */
}


#reviewTitle_top {
	margin: 40px 0;
}

#reviewTitle_top h3 {
	margin-top: 10px;
}

#reviewList {
	margin: 0 auto;
    position: relative;
	width: 1150px;
}

.reviewTotal {
	display: flex;
	align-items: flex-end
}

/* .inputButton {
	width: 95px;
	height: 35px;
	background: initial;
	border: 1px solid;
	font-size: 13px;
} */

.reviewList_top {
	display: flex;
    justify-content: space-between;
}

.btnimg img {
	width: 20px;
}

.btnimg {
	width: 122px;
    background: initial;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #666;
}
.btnimg::before {
	content: none;
}
.reviewList_middle {
	width: 1000px;
	max-width: 1000px;
	height: 1500px;
}

/* 후기 미리보기 */
.review_pre {
	width: 1000px;
	max-width: 1000px;
	height: 1000px;
	border-top: 1px solid silver;
    margin-top: 12px;
}

/* .review_pre div:first-child {
	margin-top:3px;
} */

.review_pre2 {
	display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid silver;
    padding-bottom: 11px;
}


.reviewContents_pre{
	width: 700px;
	text-overflow: ellipsis;
    white-space : nowrap;
    overflow : hidden; 
    margin: 20px 0;
}

.review_info {
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px
}

.review_img {
	display: flex;
    align-items: center;
    width: 170px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
}
.review_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reviewTitle {
	font-weight: bold;
}

.review_info2 {
	color: #999999;
}

#review_pre_last {
	border-bottom: 1px solid silver;
/* 	padding-bottom: 20px; */
}


table {
	margin-left: auto; 
	margin-right: auto;
}