@charset "UTF-8";

.ver-line:after {
	content: '|';
    margin: 0 5px 0 10px;
}
.hor-line {
	border-bottom: 1px solid #ddd;
	padding-bottom: 24px;
}

/* 여행 후기 */
#review_details {
	width: 900px;
	margin: 0 auto;
}

#reviewDetail_t {
    padding-block: 25px;
}

/* 후기 레이아웃 */
#reviewDetail {
	display: flex;
    position: relative;
    flex-direction: column;
}

.reviewDetail_top {
	padding-block: 10px;
	border-bottom: 1px solid silver;
}

/* 여행한 도시 */
.reviewDetail_city {
	padding-bottom: 15px;
	color: #045FB4;
}

/* 후기 제목 */
.reviewDetail_title {
	padding-bottom: 15px;
	font-weight: 600;
}

/* 작성자/작성일/조회수 */
.reviewDetail_info {
	display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    color: #999999;
}
.reviewDetail_writer span {
	margin: 0 5px;
}

/* 후기 내용 부분..? */
.reviewDetail_middle {
	display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: 1px solid silver;
    margin-bottom: 15px;
}

.reviewDetail_contents {
	padding: 20px 10px;
}
.reviewDetail_image {
	text-align: center;
	margin: 30px 0;
}

/* 태그 버튼 */
.reviewDetail_tag {
	margin-bottom: 20px;
}

/* 찜 버튼 */
.reviewDetail_likeBtn {
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* 후기 하단 시작 */
.reviewDetail_bottom {
	display: flex;
    justify-content: flex-end;
}

/* 후기글 목록/수정/삭제 버튼 */
.reviewDetail_Btn {
	width: 100px;
	height: 32px;
	background: #333;
    color: #fff;
	border: 1px solid #fff;
	border-radius: 7px;	
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
	  background: #fff;
	  color: #111;
	  border: 1px solid #111;
	}
}
.reviewDetail_BtnB {
	width: 100px;
	height: 32px;
	background: #fff;
    color: #111;
	border: 1px solid #111;
	border-radius: 7px;	
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
	  background: #333;
	  color: #fff;
	}
}
.spacing {
	margin: 0 5px;
}
/* 후기 하단 끝 */

/* 후기 댓글 */
#review_comment {	/* 후기 전체를 감싸고 있는 div */
	margin: 0 auto;
}
.reviewComment {		/* 그 밑 */
	margin: 80px 0;
}

.commentTable {
	/* border: 1px solid #111; */
	margin-top: 17px;
}
.commentInput {
    display: flex;
    flex-direction: row;
    
    position: relative;
    width: 100%;
    height: 72px;
    border: 1px solid #333;
    border-radius: 5px;
}
.input_text {
	width: 820px;
    margin-right: 10px;
}
.input_text textarea {
	width: 100%;
    padding: 15px;
    height: 70px;
    outline: none;
    margin-left: 2px;
}
.commentInput span:last-child {
	width: 60px;
    height: 70px;
    display: flex;		/* 등록버튼 글자 중앙정렬 */
    justify-content: center;
}
.input_btn {
	border: none;
    background: inherit;
}
.input_btn input[type="button"] {
	border: none;
	background: initial;
	cursor: pointer;
}

/* 작성한 댓글 리스트 */
.commentList {
	margin-top: 30px;
    padding: 0 10px;
}
.list_text {
    margin-top: 10px;
    padding: 0 2px;
    color: #777;
}
.comment_lst {
	margin-bottom: 24px;
}
.comment_text {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.comment_text div:first-child {
	display: inline-block;
}
.comment_text input[type="button"] {
	background: inherit;
	border: none;
	cursor: pointer;
}
.comment_text input[type="button"]:hover {
	background: lightblue;
}
.commentArea {
	width: 100%;
	resize: none;		/* textarea 크기 고정 */
	border: none;	/* 라인선 제거 */
	overflow: hidden;	/* textarea 스크롤바 숨김 */
}
